{{!--
    Stopka Doliny Harmonii.
    Cztery kolumny: brand + trzy grupy linków.
    Wszystkie linki i dane do edycji bezpośrednio tutaj
    (lub przez Ghost Admin → Settings → Secondary Navigation gdy potrzebne).
--}}

<footer>
    <div class="container">

        <div class="foot-grid">

            {{!-- Kolumna 1: Brand --}}
            <div class="foot-brand">
                <div class="logo">Dolina Harmonii</div>
                <p>Miejsce naturalnych mocy.<br>
                Kopaniec 47, 58-512 Stara Kamienica<br>
                Magiczne Izery, Dolny Śląsk</p>
            </div>

            {{!-- Kolumna 2: Miejsce --}}
            <div>
                <h5>Miejsce</h5>
                <ul>
                    <li><a href="{{@site.url}}/#dolina">O Dolinie</a></li>
                    <li><a href="/warsztaty/">Noclegi</a></li>
                    <li><a href="/dom-jogi/">Dom Jogi</a></li>
                    <li><a href="/dom-na-lace/">Dom na Łące</a></li>
                </ul>
            </div>

            {{!-- Kolumna 3: Praktyka --}}
            <div>
                <h5>Praktyka</h5>
                <ul>
                    <li><a href="/warsztaty/">Warsztaty</a></li>
                    <li><a href="{{@site.url}}/#izery">Magiczne Izery</a></li>
                    <li><a href="{{@site.url}}/#galeria">Galeria</a></li>
                </ul>
            </div>

            {{!-- Kolumna 4: Kontakt --}}
            <div>
                <h5>Kontakt</h5>
                <ul>
                    <li><a href="mailto:dolina@harmonii.pl">dolina@harmonii.pl</a></li>
                    <li><a href="tel:+48757121456">+48 757 121 456</a></li>
                    <li>pon–pt, 10:00–18:00</li>
                    <li><a href="/polityka-prywatnosci/">Polityka prywatności</a></li>
                </ul>
            </div>

        </div>{{!-- /.foot-grid --}}

        <div class="foot-bottom">
            <span>© {{date format="YYYY"}} Dolina Harmonii</span>
            <span>Wszelkie prawa zastrzeżone</span>
        </div>

    </div>{{!-- /.container --}}
</footer>
